@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Doto:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Changa:wght@200..800&family=Doto:wght@100..900&family=Jacquarda+Bastarda+9&family=Odibee+Sans&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Silkscreen:wght@400;700&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&family=Wallpoet&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}
#body_cadastro,#body_salas{
    overflow: hidden;
}
header {
    width: 100%;
    height: 17vh;
    background-color: #f1f5f9;
    display: flex;
    align-items: center;
    padding: 0 12px;
}
header#turma{
    background-color: #ff8200;
    font-family: "Archivo Black", sans-serif;
}
header#turma h1,header#cadastro h1{
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}
header#turma{
    background-color: #ffd700;
    height: 25vh;
    overflow: hidden;
    position: relative;
}
header#Contagem{
    background-color: #ff8200;
    display: flex;
    align-items: center;
    justify-content: center;
}

header#Contagem #nomeSala{
    background-color: #f4f6f8;
    padding: 10px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Telex", sans-serif;
    font-size: 13px;
    border-radius: 10px;
}
header img{
    width: 170px;
}
.quadrado {
    width: 95px;
    height: 95px;
    border: 1px solid #ffffff;
    box-sizing: border-box; 
    position: absolute;
    z-index: 1;
    margin-left: 5px;
}
.logo{
    position: relative;
    z-index: 2;
}
#imgs{
    position: absolute;
    left: 28%;
    bottom: 30%;
}

.txt-turma{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main#index{
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ff8200;
}
main#index section div#link a{
    font-family: "Telex", sans-serif;
    text-decoration: underline;
    color: rgb(23, 134, 213);
}
#main-turma{
    background-color: #f1f5f9;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main#main-contagem{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.varias-imgs,.login{
    position: relative;
    bottom: 19%;
}
.varias-imgs img{
    width: 450px;
}
.login {
    width: 100%;
    max-width: 400px;
    text-align: center;
}
#loginn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-size: 40px;
}
.login label {
    font-family: "Archivo Black", sans-serif;
    color: #fee600;
    text-transform: uppercase;
    font-size: 30px;
}
.login input, 
.login button {
    width: 80%;
    height: 6vh;
    border-radius: 6px;
    border: none;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.login form#login button[type = 'submit']{
    text-transform: uppercase;
    background-color: #7ed957;
    font-weight: bold;
    cursor: pointer;
}
main#index .login form#loginn a{
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 9px;
}
#escolher-sala-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 30px;
}
.escolha-sala{
    height: 25vh;
    width: 25vw;
    background-color: #ffdf2b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.escolha-sala:nth-child(2){
    background-color: #13b818;
}
.escolha-sala:nth-child(3){
    background-color: #ff652d;
}
.escolha-sala:nth-child(4){
    background-color: #ff8200;
}
.escolha-sala:nth-child(5){
    background-color:#8b97fd;
}

.escolha-sala p{
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

#figuras-salas {
    position: relative;
    margin: 0 auto;
    bottom: 150px;
    left: 470px;
    z-index: 2;
    width: 100%; 
}

#figuras-salas img {
    max-width: 100%;
    height: auto;
    width: 550px;
}

.card {
    width: 30vw;
    min-height: 35vh;
    padding: 20px;
    background-color: yellow;
    text-align: center;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 130px;
    left: 530px;
}
.card h3 {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 30px;
}
.btn {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#dialog{
    height: 350px;
    width: 370px;
    border: none;
    position: relative;
    top: calc(50% - 175px);
    left: calc(50% - 185px);
}
#dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.3);}
#dialog h2{
    font-family: "Archivo Black", sans-serif;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#dialog #botoes-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}
#dialog button{
    font-family: "Telex", sans-serif;
    height: 45px;
    width: 250px;
    font-size: 25px;
    background-color: #f1f5f9;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
#dialog button:hover{
    transform: scale(1.1);
}
.fechar{
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    left:87%;
    top: 10px;
}
.fechar i{
    font-size: 30px;
    cursor: pointer;
}


#form-contagem{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 20px;
}
#input-contagem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
form #input-contagem input[type = 'number']{
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 70px;
    width: 90px;
    height: auto;
    font-family: "Odibee Sans", sans-serif;

}
#menos,#mais{
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    color: white;
    font-size: 50px;
}
#menos{
    background-color: #ee252c;
}
#mais{
    background-color: #48bc50;
}
main#index form button[type ='submit'],#enviar_form{
    background-color: #3caf47;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 20px;
    width: 50%;
    border-radius: 50px;
    font-size: 20px;
}
form button{
    cursor: pointer;
}
#LabelNumContador{
    font-family: "Telex", sans-serif;
    font-weight: bold;
    color: #ff4d0d;
    font-size: 20px;
}
footer#footer-turma{
    width: 100%;
    height: 18vh;
    background-color: #f1f5f9;
    display: flex;
    justify-content: space-between;
}
footer#footer-turma img{
    height: 200px;
}  
#img1-footer-turma{
    position: relative;
    bottom: 55px;
    right: 30px;
}
#img2-footer-turma{
    position: relative;
    left: 70px;
    bottom: 80px;
}
footer#footer-contagem img{
    width: 170px;
    margin-left: 30px;
}
header#cadastro{
    background-color: #ff8200;
    font-family: "Archivo Black", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header#cadastro div#tituloh1{
    margin-left: 100px;
}
header#cadastro img#fig{
    width: 300px;
    position: relative;   
    left: 50px;
    top: 20px;
}
main#main-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}
main#main-cadastro section{
    background-color: #ffdf2b;
    width: 28%;
    height: 55vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
main#main-cadastro section form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
main#main-cadastro section form div{
    display: flex;
    font-family: "Telex", sans-serif;
    color: rgb(69, 69, 69);
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
main#main-cadastro section form input{
    width:20vw;
    height: 7vh;
    border-radius: 10px;
    border: none;
}
main#main-cadastro section form input::placeholder{
    color: rgb(69, 69, 69);
    text-align: center;
    font-family: "Telex", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#btn-cadastrar{
    width: 97%;
    height: 50px;
    border-radius: 10px;
    background-color: #18b41a;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
#main-cadastro section form input{
    font-size: 25px;
    text-align: center;
}
main#main-contagem section form a{
    color: white;
    text-decoration: none;
}
#dialog button:focus {
    outline: none;
}
dialog::-webkit-scrollbar-track {
    background-color: #611818; /* Cor do fundo da barra de rolagem */
}
/* @media screen and (max-width:1366px){
    main{
        background-color: red;
    }
} */
@media screen and (max-width:1024px){
    header img{
        width: 130px;
        height: auto;
    }
    .varias-imgs img{
        width: 300px;
        height: auto;
        position: relative;
        top: 15px;
    }
    .login h1{
        font-size: 35px;
    }
    #link a{
        font-size: 20px;
    }
    header#cadastro h1{
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header#cadastro img{
        display: none;
    }
    header#cadastro div#tituloh1{
        margin-left: 80px;
    }
    header#cadastro img#fig{
        display: none;
    }
    main#main-cadastro section{
        width: 90%;
    }
    main#main-cadastro section form input{
        width:70vw;
        height: 7vh;
        border-radius: 10px;
        border: none;
    }
    header#turma{
        height: 20vh;
        font-size: 28px;
    }
    #escolher-sala-section{
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin-top: 500px;
    }
    .escolha-sala{
        width: 90%;
    }
    #footer-turma img{
        display: none;
    }
    #body_salas{
        overflow: visible;
    }
    header#Contagem #nomeSala{
        width: 70vw;
    }
    #menos,#mais{
        height: 80px;
        width: 80px;
    }
    div#input-contagem{
        gap: 40px;
    }
    footer#footer-contagem img{
        width: 140px;
        margin-left: 0px;
        margin-top: 20px;
    }
}